* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #0A0C0D;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #348E91;
}

html {
  scrollbar-width: auto;
  scrollbar-color: #348E91 #0A0C0D;
}

header {
  display: grid;
  position: fixed;
  width: 100vw;
  grid-template-columns: auto 90vw auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 2px solid #1C5052;
  background-color: #0A0C0D;
  z-index: 3;
  margin-top: -100px;
}
header section#header {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s;
}
header section#header .menu {
  color: #1C5052;
  font-size: 1.6em;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 6px;
  transition: all 0.6s;
}
header section#header .menu:hover {
  background-color: #348E91;
  color: #0A0C0D;
}
header section#header .menu-close {
  display: none;
  color: #1C5052;
  font-size: 1.6em;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 6px;
  transition: all 0.6s;
}
header section#header .menu-close:hover {
  background-color: #348E91;
  color: #0A0C0D;
}
header section#header h1 {
  color: #FFFFFF;
  cursor: pointer;
}
header section#header .light {
  display: flex;
  align-items: center;
  width: 70px;
  height: 30px;
  background-color: #1C5052;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s;
}
header section#header .light .light-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0A0C0D;
  transition: 0.6s;
  transform: translateX(0) scale(0.8);
  animation: light-frame 1s 1;
}
header section#header .light:hover {
  background-color: #348E91;
}
header section#header .dark {
  display: flex;
  align-items: center;
  width: 70px;
  height: 30px;
  background-color: #1C5052;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s;
}
header section#header .dark .light-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e7e5e5;
  transition: 0.6s;
  animation: dark-frame 1s 1;
  transform: translateX(38px) scale(0.8);
}
header section#header .dark:hover {
  background-color: #348E91;
}
@keyframes light-frame {
  from {
    transform: translateX(38px) scale(0.8);
  }
  to {
    transform: translateX(0) scale(0.8);
  }
}
@keyframes dark-frame {
  from {
    transform: translateX(0px) scale(0.8);
  }
  to {
    transform: translateX(38px) scale(0.8);
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  gap: 20px;
  margin-top: 100px;
}
main section {
  margin-bottom: 200px;
}
main .hidden {
  opacity: 0;
  transition: all 3s;
  transform: translateX(-100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
main .right {
  transform: translateX(100%);
}
main .section-show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}
main #fade-menu {
  display: none;
  position: fixed;
  color: white;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: -100px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  animation: fade-menu 1s 1;
}
@keyframes fade-menu {
  from {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}
main #modal-menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin-top: -100px;
  z-index: 2;
}
main #modal-menu #nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main #modal-menu #nav-menu h2 {
  color: #348E91;
  text-shadow: 1px 1px 4px #111717;
  font-size: 2em;
  margin-bottom: 50px;
}
main #modal-menu #nav-menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.6em;
  transition: 0.6s;
}
main #modal-menu #nav-menu a:hover {
  transform: scale(1.4);
  color: #348E91;
}
main section#ficha {
  grid-column: 2;
}
main section#ficha #sobre {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  align-items: center;
}
main section#ficha #sobre img.avatar {
  width: 200px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #348E91;
  outline: 5px solid #1C5052;
  margin-bottom: 30px;
  transition: 0.6s;
  cursor: pointer;
}
main section#ficha #sobre img.avatar:hover {
  transform: scale(1.2);
}
main section#ficha #sobre h1 {
  color: #FFFFFF;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
}
main section#ficha #sobre h1 b {
  color: #348E91;
}
main section#ficha #sobre span {
  color: #e7e5e5;
  font-size: 0.8em;
  margin-bottom: 20px;
  margin-top: 1.2em;
}
main section#ficha #sobre #button-cv {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
main section#ficha #sobre #button-cv #btn-cv-1 {
  all: unset;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 20px;
  background-color: #1C5052;
  color: #FFFFFF;
  border: 2px solid #348E91;
  transition: 0.6s;
  cursor: pointer;
}
main section#ficha #sobre #button-cv #btn-cv-1:hover {
  transform: scale(1.2);
  background-color: #348E91;
  text-shadow: 1px 1px 1px #213635;
}
main section#ficha #sobre #button-cv #btn-cv-2 {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #0A0C0D;
  border: 2px solid #348E91;
  transition: 0.6s;
  cursor: pointer;
}
main section#ficha #sobre #button-cv #btn-cv-2:hover {
  transform: scale(1.2);
  background-color: #348E91;
  text-shadow: 1px 1px 1px #213635;
}
main section#ficha #sobre #button-cv #btn-cv-2 a {
  color: #FFFFFF;
  font-size: 1.2em;
  text-decoration: none;
}
main section#ficha #sobre h3 {
  color: #FFFFFF;
  font-size: 1.8em;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}
main section#ficha #sobre p {
  color: #e7e5e5;
  text-align: center;
  max-width: 768px;
  margin-bottom: 100px;
}
main section#ficha #sobre #seta-sobre {
  color: #FFFFFF;
  font-size: 2em;
  transform: rotate(90deg);
  animation: seta-sobre 0.8s infinite;
}
@keyframes seta-sobre {
  0% {
    transform: rotate(90deg) translatex(-10px);
  }
  50% {
    transform: rotate(90deg) translatex(5px);
  }
  100% {
    transform: rotate(90deg) translatex(-10px);
  }
}
main section#skills {
  grid-column: 2;
}
main section#skills h2 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 50px;
}
main section#skills #skills-group {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: auto;
  margin-bottom: 50px;
}
main section#skills #skills-group .skill-icon {
  padding: 10px 0;
  width: 120px;
  height: auto;
  background-color: #111717;
  text-align: center;
  border-radius: 20px 20px 0 0;
  border-bottom: 3px solid #348E91;
  cursor: pointer;
  transition: 0.5s;
}
main section#skills #skills-group .skill-icon p {
  color: #348E91;
  font-size: 1.2em;
  margin-bottom: 10px;
}
main section#skills #skills-group .skill-icon i {
  color: #348E91;
  font-size: 4em;
}
main section#skills #skills-group .skill-icon:hover {
  transform: scale(1.2);
}
main section#projetos {
  grid-column: 2;
}
main section#projetos h2 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 50px;
}
main section#projetos #projeto-group {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  margin-bottom: 50px;
}
main section#projetos #projeto-group .projeto-single {
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.6s;
  cursor: pointer;
}
main section#projetos #projeto-group .projeto-single .projeto-image {
  width: 100%;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border-bottom: 4px solid #348E91;
}
main section#projetos #projeto-group .projeto-single .projeto-image .projeto-overley {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 1;
  transition: opacity 0.6s;
}
main section#projetos #projeto-group .projeto-single p {
  color: #FFFFFF;
  z-index: 1;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 10px;
}
main section#projetos #projeto-group .projeto-single .projeto-icons {
  z-index: 1;
}
main section#projetos #projeto-group .projeto-single .projeto-icons i {
  color: #348E91;
  font-size: 1.8em;
}
main section#projetos #projeto-group .projeto-single:hover {
  transform: scale(1.1);
}
main section#projetos #projeto-group .projeto-single .projeto-descricao {
  opacity: 0;
  display: none;
  position: relative;
  transition: opacity 0.6s, display 0.6s;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #111717;
  border-radius: 0 0 20px 20px;
}
main section#projetos #projeto-group .projeto-single .projeto-descricao h3 {
  color: #FFFFFF;
  font-size: 1em;
}
main section#projetos #projeto-group .projeto-single .projeto-descricao button {
  all: unset;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #0A0C0D;
  color: #FFFFFF;
  border: 2px solid #348E91;
  transition: 0.6s;
  cursor: pointer;
}
main section#projetos #projeto-group .projeto-single .projeto-descricao button:hover {
  transform: scale(1.1);
  background-color: #348E91;
  text-shadow: 1px 1px 1px #213635;
}
main section#contato {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section#contato h2 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 50px;
}
main section#contato #contato-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
main section#contato #contato-group a {
  text-decoration: none;
}
main section#contato #contato-group .contato-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  transition: 0.4s;
}
main section#contato #contato-group .contato-single .contato-icon {
  background-color: #213635;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 0.8em;
}
main section#contato #contato-group .contato-single .contato-icon i {
  color: #348E91;
  font-size: 1.8em;
}
main section#contato #contato-group .contato-single h3 {
  font-size: 1em;
  color: #FFFFFF;
  line-height: 1.8em;
}
main section#contato #contato-group .contato-single p {
  display: none;
  font-size: 0.8em;
  color: #e7e5e5;
}
main section#contato #contato-group .contato-single:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=mode-dark.css.map */