// Variaveis
$cor-principal: #e7e5e5;
$cor-principal-escura: #0A0C0D;
$cor-texto: #FFFFFF;
$cor-texto-inverso: #000;
$cor-elementos: #111717;
$cor-destaque: #1C5052;
$cor-destaque-inverso: #348E91;
$cor-destaque-escura: #213635;

// Importando modo Dark
@use 'mode-light';

// Configuração Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $cor-principal-escura;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #348E91;
}

html {
    scrollbar-width: auto;
    scrollbar-color: #348E91 #0A0C0D; 
    overflow-x: hidden;
}

// Site
header {
    display: grid;
    position: fixed;
    width: 100vw;
    grid-template-columns: auto 90vw auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid $cor-destaque;
    background-color: $cor-principal-escura;
    z-index: 3;
    margin-top: 0;

    section#header {
        grid-column: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.6s;

        .menu {
            color: $cor-destaque;
            font-size: 1.6em;
            cursor: pointer;
            border-radius: 50%;
            padding: 5px 6px;
            transition: all 0.6s;

            &:hover {
                background-color: $cor-destaque-inverso;
                color: $cor-principal-escura;
            }
        }

        .menu-close {
            display: none;
            color: $cor-destaque;
            font-size: 1.6em;
            cursor: pointer;
            border-radius: 50%;
            padding: 5px 6px;
            transition: all 0.6s;

            &:hover {
                background-color: $cor-destaque-inverso;
                color: $cor-principal-escura;
            }
        }

        h1 {
            color: $cor-texto;
            cursor: pointer;
        }

        .light {
            display: flex;
            align-items: center;
            width: 70px;
            height: 30px;
            background-color: $cor-destaque;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.6s;


            .light-button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $cor-principal-escura;
                transition: 0.6s;
                transform: translateX(0) scale(0.8);
                animation: light-frame 1s 1;
            }

            &:hover {
                background-color: $cor-destaque-inverso;
            }

        }

        .light-active {
            display: flex;
            align-items: center;
            width: 70px;
            height: 30px;
            background-color: $cor-destaque-escura;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.6s;

            .light-button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $cor-principal;
                transition: 0.6s;
                animation: active-frame 1s 1;
                transform: translateX(38px) scale(0.8);
            }

            &:hover {
                background-color: $cor-destaque-inverso;
            }
        }

        @keyframes light-frame {
            from {
                transform: translateX(38px) scale(0.8);
            }

            to {
                transform: translateX(0) scale(0.8);
            }
        }

        @keyframes active-frame {
            from {
                transform: translateX(0px) scale(0.8);
            }

            to {
                transform: translateX(38px) scale(0.8);
            }
        }
    }
}


main {
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 20px;

    .hidden {
        opacity: 0;
        transition: all 2s;
        transform: translateX(-100%);
        backdrop-filter: blur(20px);
    }

    .right {
        transform: translateX(100%);
    }

    .section-show {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }

    #fade-menu {
        display: none;
        position: fixed;
        color: white;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        animation: fade-menu 1s 1;
    }

    @keyframes fade-menu {
        from {
            background-color: rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(0px);
        }

        to {
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(10px);
        }
    }

    #modal-menu {
        display: none;
        justify-content: center;
        align-items: flex-start;
        padding: 100px 0;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 2;

        #nav-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            text-align: center;

            h2 {
                color: $cor-destaque-inverso;
                text-shadow: 1px 1px 4px $cor-elementos;
                font-size: 1.8em;
                margin-bottom: 50px;
            }

            a {
                color: $cor-texto;
                text-decoration: none;
                font-size: 1.6em;
                transition: 0.6s;

                &:hover {
                    transform: scale(1.4);
                    color: $cor-destaque-inverso;
                }
            }
        }
    }

    section#ficha {
        grid-column: 2;
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 50px;

        #sobre {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px;
            align-items: center;
            text-align: center;      

            img.avatar {
                width: 200px;
                aspect-ratio: 1/1;
                object-fit: cover;
                overflow: hidden;
                border-radius: 50%;
                border: 5px solid $cor-destaque-inverso;
                outline: 5px solid $cor-destaque;
                transition: 0.6s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.2);
                }
            }

            h1 {
                color: $cor-texto;
                font-size: 2em;
                line-height: 1em;
                text-align: center;
                padding-top: 30px;

                b {
                    background: linear-gradient(45deg, $cor-destaque-inverso,$cor-destaque-escura,$cor-destaque-inverso);
                    background-size: 400% 100%;
                    animation: degrade-nome 10s linear infinite;

                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
@keyframes degrade-nome {
    0%{
        background-position-x: 0%;
    }
    
    100%{
        background-position-x: 400%;
    }
}
            span {
                color: $cor-principal;
                font-size: 0.8em;
                margin-top: 1.2em;
            }

            #button-cv {
                display: flex;
                gap: 20px;
                margin-top: 30px;

                a{
                    text-decoration: none;
                }

                #btn-cv-1 {
                    all: unset;
                    padding: 10px 15px;
                    font-size: 1.1em;
                    border-radius: 20px;
                    background-color: $cor-destaque;
                    color: $cor-texto;
                    border: 2px solid $cor-destaque-inverso;
                    transition: 0.6s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.2);
                        background-color: $cor-destaque-inverso;
                        text-shadow: 1px 1px 1px $cor-destaque-escura;
                    }
                }

                #btn-cv-2 {
                    padding: 10px 15px;
                    border-radius: 20px;
                    background-color: $cor-principal-escura;
                    border: 2px solid $cor-destaque-inverso;
                    transition: 0.6s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.2);
                        background-color: $cor-destaque-inverso;
                        text-shadow: 1px 1px 1px $cor-destaque-escura;
                    }

                    a {
                        color: $cor-texto;
                        font-size: 1.2em;
                        text-decoration: none;
                    }
                }


            }
        }

        #sobre-descricao{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 20px;
            align-items: center;

            h3 {
                color: $cor-texto;
                font-size: 1.8em;
                margin-bottom: 10px;
                text-align: center;
            }

            p {
                color: $cor-principal;
                text-align: center;
                max-width: 768px;
                margin-bottom: 100px;
            }

            #seta-sobre {
                color: $cor-texto;
                font-size: 2em;
                transform: rotate(90deg);
                animation: seta-sobre 0.8s infinite;
            }

            @keyframes seta-sobre {
                0% {
                    transform: rotate(90deg) translatex(-10px);
                }

                50% {
                    transform: rotate(90deg) translatex(5px);
                }

                100% {
                    transform: rotate(90deg) translatex(-10px);
                }
            }
        }
    }

    section#skills {
        grid-column: 2;
        padding-top: 200px;

        h2 {
            color: $cor-texto;
            text-align: center;
            margin: auto;
            width: 150px;
            line-height: 1.6em;
            border-bottom: 2px solid $cor-destaque-inverso;
            margin-bottom: 50px;
        }

        #skills-group {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            grid-auto-rows: auto;
            margin-bottom: 50px;
            align-items: center;
            justify-items: center;

            .skill-icon {
                padding: 10px 0;
                width: 120px;
                height: auto;
                background-color: $cor-elementos;
                text-align: center;
                border-radius: 20px 20px 0 0;
                border-bottom: 3px solid $cor-destaque-inverso;
                cursor: pointer;
                transition: 0.5s;

                p {
                    color: $cor-destaque-inverso;
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }

                i {
                    color: $cor-destaque-inverso;
                    font-size: 4em;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

    }

    section#projetos {
        grid-column: 2;
        padding-top: 200px;

        h2 {
            color: $cor-texto;
            text-align: center;
            margin: auto;
            width: 150px;
            line-height: 1.6em;
            border-bottom: 2px solid $cor-destaque-inverso;
            margin-bottom: 50px;
        }

        #projeto-group {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: auto;
            margin-bottom: 50px;

            .projeto-single {
                padding: 10px;
                display: flex;
                flex-direction: column;
                transition: 0.6s;
                cursor: pointer;

                .projeto-image {
                    width: 100%;
                    height: 220px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: relative;
                    overflow: hidden;
                    z-index: 0;
                    border-bottom: 4px solid $cor-destaque-inverso;

                    .projeto-overley {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        inset: 0;
                        background: rgba(0, 0, 0, 0.7);
                        z-index: 1;
                        opacity: 1;
                        transition: opacity 0.6s;
                    }
                }

                p {
                    color: $cor-texto;
                    z-index: 1;
                    font-weight: bold;
                    font-size: 1.8em;
                    margin-bottom: 10px;
                }

                .projeto-icons {
                    z-index: 1;

                    i {
                        color: $cor-destaque-inverso;
                        font-size: 1.8em;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                }

                .projeto-descricao {
                    opacity: 0;
                    display: none;
                    position: relative;
                    transition: opacity 0.6s, display 0.6s;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 10px;
                    background-color: $cor-elementos;
                    border-radius: 0 0 20px 20px;

                    h3 {
                        color: $cor-texto;
                        font-size: 1em;
                    }

                    a{
                        text-decoration: none;
                    }

                    button {
                        all: unset;
                        padding: 10px 15px;
                        border-radius: 20px;
                        background-color: $cor-principal-escura;
                        color: $cor-texto;
                        border: 2px solid $cor-destaque-inverso;
                        transition: 0.6s;
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.1);
                            background-color: $cor-destaque-inverso;
                            text-shadow: 1px 1px 1px $cor-destaque-escura;
                        }
                    }
                }
            }
        }
    }

    section#contato {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 200px;
        padding-bottom: 200px;

        h2 {
            color: $cor-texto;
            text-align: center;
            margin: auto;
            width: 150px;
            line-height: 1.6em;
            border-bottom: 2px solid $cor-destaque-inverso;
            margin-bottom: 50px;
        }

        #contato-group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;

            a {
                text-decoration: none;
            }

            .contato-single {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $cor-texto;
                transition: 0.4s;

                .contato-icon {
                    background-color: $cor-destaque-escura;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-bottom: 0.8em;

                    i {
                        color: $cor-destaque-inverso;
                        font-size: 1.8em;
                    }
                }

                h3 {
                    font-size: 1em;
                    color: $cor-texto;
                    line-height: 1.8em;
                }

                p {
                    display: none;
                    font-size: 0.8em;
                    color: $cor-principal;
                }

                &:hover {
                    transform: scale(1.2);
                }

            }
        }
    }
}

@media screen and (min-width: 767px) {
    section#ficha {
        #sobre {
            flex-direction: row-reverse !important;
            justify-content: space-around;
            text-align: center;

            img.avatar {
                width: 400px !important;
                
            }
        }

        #sobre-name {
            h1{
                font-size: 2.5em !important;
            }
        }
    }

    section#contato{
        #contato-group{
            .contato-single{
                p{
                    display: block !important;
                }
            }
        }
    }
}